<div style="height:100%" class="container">
    <div class="container" style="display: inline-block;">
        <h1 class="text-center d-inline">Levels {{cycle?.name}} -- {{faculty?.name}}</h1>
        <mat-icon *ngIf="isPermitted(AddLevel) || isAdministrator()" style="float: right;" [routerLink]="['/faculty/add-level',facultyId]" >add_circle_outline</mat-icon>
        
    </div>
    <div class="container">
        <br/>
            <div *ngFor="let level of levels"  class="row border border-success rounded m-3" >
                <div class="col"><h1 style="font-size:xx-large;" class="text-couleur m-3">{{level.name}} </h1> </div>                  
                <div  class=" col text-right">
                    <div class="comp my-3" style="text-align: right;">
                        <mat-icon *ngIf="isPermitted(DeleteLevel) || isAdministrator()" (click)="deleteLevel(level.id)"class="text-danger mx-3" style="font-size:xx-large;">delete</mat-icon>
                        <mat-icon *ngIf="isPermitted(UpdateLevel) || isAdministrator()" [routerLink]="['/level/edit',level.id]" class = "text-primary mx-3" style="font-size:xx-large;">edit</mat-icon>
                        <mat-icon *ngIf="isPermitted(SeeMatters) || isAdministrator()" (click)="getMatters(level)" class="text-success mx-3" style="font-size:xx-large;">remove_red_eye</mat-icon>
                    </div>
    
                </div>
    
            </div>
        </div>
  
    
</div>