.container-fluid{
    padding-top: 50px;;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid #A4D8A6;
    padding: 5px;
    margin-bottom: 50px;
}
.mat-chip-list{
    display: inline-block;
}