<div class="container">
    <h1 class="text-center">{{title}}</h1>
    <div *ngIf="submitted" class="alert">
        <div *ngIf="isError()" class="alert alert-danger">Failed to add user</div>
        <div *ngIf="!isError()" class="alert alert-success">User added successfully</div>
    </div>
    <form [formGroup]="matterForm" class="pt-3"  (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label style="text-align: left;display: block;"for="exampleInputEmail1">Name</label>
            <input formControlName="name" type="text" class="form-control" value="{{name}}" aria-describedby="emailHelp" placeholder="Enter name" [value] = "value">
        </div>
        <div class="form-group p-3 m-3">
            <a href="" [routerLink]="['/cycle',level?.faculty?.cycle?.id,'faculty',level?.faculty?.id,'level',level?.id]" class="btn btn-warning m-3">Go back</a>
            <button type="submit" [disabled]="!matterForm.valid" class="m-3 btn btn-success">Save matter</button> 
         </div>
           
     </form>
</div>